<div class="flexrow">
  <div class="grid grid-3col">
    <div class="dharma flex-group-center">
      <h3 id="heroic-deed">Heroic Deed</h3>
      <textarea name="system.deed" rows="8">{{system.deed}}</textarea>
    </div>
    <div class="dharma flex-group-center">
      <h3 id="cultural-landmark">Cultural Landmark</h3>
      <textarea name="system.landmark" rows="8">{{system.landmark}}</textarea>
    </div>
    <div class="dharma flex-group-center">
      <h3 id="vice">Vice</h3>
      <textarea name="system.vice" rows="8">{{system.vice}}</textarea>
    </div>
  </div>
</div>
<h3 class="full-size">KHARMA</h3>
<div class="grid grid-3col">
  <div class="resource-content flex-group-center">
    <label for="system.kharma.value" class="resource-label">Earnt</label>
    <input type="text" name="system.kharma.value" value="{{system.kharma.value}}" data-dtype="Number">
  </div>
  <div class="resource-content flex-group-center">
    <label for="system.kharma.spent" class="resource-label">Spent</label>
    <input type="text" name="system.kharma.spent" value="{{system.kharma.spent}}" data-dtype="Number">
  </div>
  <div class="resource-content flex-group-center">
    <label for="system.kharma.lvl" class="resource-label">Next Degree</label>
    <input type="text" name="system.kharma.lvl" value="{{system.kharma.lvl}}" data-dtype="Number" disabled readonly>
  </div>
</div>
