<div class="items-list full-size">

  <div id="imbalance-header" class="item flexrow items-header grid grid-8col small-table-header">
    <div class="flex-group-center grid-span-3">Injury</div>
    <div class="flex-group-center grid-span-2">Target</div>
    <div class="flex-group-center">Rank</div>
    <div class="flex-group-center">Agg</div>
    <div class='item-controls flex-group-center'>
        <a
          class='injury-create'
          title='Create injury'
          data-type='imbalance'
        >
          <i class='fas fa-plus'></i>
        </a>
    </div>
  </div>
  <div class="items-list full-size technique-table">
  {{#each system.optImbalances.injuries}}
  <div class='item flexrow grid grid-8col grid-table imbalance list-item'>
    <div class='flex-group-center grid-span-3' data-imbtype="name">
      <input class="injury-choice" type="text" name="this.name" value="{{this.name}}">
    </div> 
    <div class="flex-group-center grid-span-2" data-imbtype="source">
      <select class="injury-choice full-size" name='this.bodyPart'>
      {{! Iterates over the list of stats that imbalances can target to produce a select menu.}} 
      {{! List can be edited at lone-wolf-fists\module\helpers\imbalance-config.mjs}}

        {{#each ../bodyParts}}
        <option 
          {{! Makes sure that the default source shown is the one currently set on the imbalance}}
          {{#if (comparison ../this.bodyPart this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}

      </select>
    </div>
    <div class="rank flex-group-center">
      <input class="injury-choice" type="text" name="this.rank" value="{{this.rank}}" data-dtype="Number" readonly disabled/>
    </div>
    <div class="flex-group-center" data-imbtype="agg">
      <input class="injury-choice" type="text" name="this.agg" value="{{this.agg}}" data-dtype="Number"/>
    </div>
    <div class="item-controls flex-group-center">
        <a
          class='injury-control injury-delete'
          title='{{localize "DOCUMENT.Delete" type='injury'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
  </div>
  {{/each}}
</div>
</div>
