<div class="imb-main">
  <div class="sidebar">
  <ol class='items-list full-size'>
    <li class='item flexrow items-header'>
      <div class="skill-name">{{localize 'Skill'}}</div>
    </li>
  {{#each skills as | skill |}}
  <li class='item flex-group-center'>
    <div class='item-image'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Item'}}'
        >
        <img
          class="skill-image"
          src='systems/lone-wolf-fists/assets/{{this}}.svg'
          title='{{this}}'
          width='40'
          height='40'
        />
      </a>
    </div>
    <h4 class="skill">{{this}}</h4>
  </li>
  {{/each}}
</div> 
<div class="imbmain-body">
  <ol class="items-list full-size">
  <li class="item flexrow items-header">
    <div class="flex-group-center">Type</div>
    <div class="flex-group-center">Target</div>
    <div class="flex-group-center">Stat</div>
    <div class="flex-group-center">Rank</div>
    <div class="flex-group-center">Agg</div>
    <div class='item-controls flex-group-center'>
        <a
          class='item-control item-create'
          title='Create item'
          data-type='imbalance'
        >
          <i class='fas fa-plus'></i>
          {{localize 'DOCUMENT.New' type='imbalance'}}
        </a>
    </div>

  {{#each imbalances as |item id|}}
  <li class='item flexrow' data-item-id='{{item._id}}'>
    <div class="item-source" data-imbtype="source">
      <select class="item-choice" name='item.system.source'>
      
      {{! Iterates over the list of stats that imbalances can target to produce a select menu.}} 
      {{! List can be edited at lone-wolf-fists\module\helpers\imbalance-config.mjs}}
        {{#each ../imbalanceSources}}
        <option 
          {{! Makes sure that the default source shown is the one currently set on the imbalance}}
          {{#if (comparison item.system.source this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}

      </select>
    </div>
    <div class="item-bodyPart" data-imbtype="bodyPart">
      <select class = "item-choice" name="item.system.bodyPart">
        
        {{! Iterates over the list of body parts that imbalances can target to produce a select menu.}} 
        {{! List can be edited at lone-wolf-fists\module\helpers\imbalance-config.mjs}}
        {{#each ../bodyParts}}
        <option 
          {{! Makes sure that the default source shown is the one currently set on the imbalance}}
          {{#if (comparison item.system.bodyPart this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}

      </select>
    </div>
    <div class="item-stat" data-imbtype="stat">
      <select class="item-choice item-stat" name='item.system.stat'>
      
      {{! Iterates over the list of stats that imbalances can target to produce a select menu.}} 
      {{! List can be edited at lone-wolf-fists\module\helpers\imbalance-config.mjs}}
        {{#each ../imbalanceStats}}
        <option 
          {{! Makes sure that the default stat shown is the one currently set on the imbalance}}
          {{#if (comparison item.system.stat this)}} selected="selected" {{/if}} 
        value="{{this}}">{{this}}</option>
        {{/each}}

      </select>
    </div>
    <div class="item-rank rank">
      <input class="item-choice" type="text" name="item.system.rank" value="{{item.system.rank}}" data-dtype="Number" readonly/>
    </div>
    <div class="item-agg" data-imbtype="agg">
      <input class="item-choice" type="text" name="item.system.agg" value="{{item.system.agg}}" data-dtype="Number"/>
    </div>
    <div class="item-controls">
      <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Edit" type='imbalance'}}'
        >
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='imbalance'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
  </li>
  {{/each}}

</ol>
</div>
</div>