<ol class="items-list full-size">
  <li class="item flexrow items-header">
    <div class="flex-group-center">Name</div>
    <div class="flex-group-center">Requirements</div>
    <div class="flex-group-center">Cost : facing</div>
    <div class="flex-group-center">Skill</div>
    <div class="flex-group-center"></div>

  {{#each techniques.attack as |item id|}}
  <li class='item flexrow' data-item-id='{{item._id}}'>
    <div class='item-name'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item'>
          <img
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          />
        </a>
      </div>
      <h4>{{item.name}}</h4>
    </div>
    <div class="item-requirements">
      <input class="item-choice" type="text" name="item.system.techReqs" value="{{item.system.techReqs}}" readonly>
    </div>

    <div class="item-cost-facing">
      <input class="item-choice" type="text" name="item.system.techCost" value="{{item.system.techCost}}" readonly>
      <span> : </span>
      <input class="item-choice" type="text" name="item.system.techReqs" value="{{item.system.techFacing.min}} - {{item.system.techFacing.max}}" readonly>
    </div>

    <div class="item-skill">
      <input class="item-choice" type="text" name="item.system.techSkill" value="{{item.system.techSkill}}" readonly>
    </div>
    <div class="item-controls">
      <a
        class='item-control item-delete'
        title='{{localize "DOCUMENT.Delete" type='imbalance'}}'
      >
        <i class='fas fa-trash'></i>
      </a>
    </div>
  
  </li>
  {{/each}}

</ol>
