<div class="items-list full-size grid grid-3col grid-close">
  {{#if (arrayNotEmpty form)}}
  <div class="items-list full-size grid-span-2">
    <div class="item flexrow items-header grid grid-8col">
      <div class="flex-group-center grid-span-5">Form</div>
      <div class="flex-group-center">A</div>
      <div class="flex-group-center">D</div>
      <div class="flex-group-center"></div>
    </div>
    {{#each form as | item id |}}
    <div class='item flexrow grid grid-8col grid-table' data-item-id='{{item._id}}'>
      <div class="item-name flex-group-center grid-span-5">
        <div class='item-image'>
        <img
          src='{{item.img}}'
          title='{{item.name}}'
          width='24'
          height='24'
        />
        </div>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Item'}}'
        >
        <h4>{{item.name}}</h4>
        </a>
      </div>
      <div class="flex-group-center">
        {{!-- Check the following possibilites: there is only one facing the form applies to; there are 2 facings the form applies to; there are no facings the form applies to. Set the vallue accordingly. --}}
        <input class="item-choice" type="text" name="item.system.attackBoost"
        {{#if item.system.attackBoost.none}} value="--" {{else}}
        {{#if (comparison item.system.attackBoost.min item.system.attackBoost.max)}} value="{{item.system.attackBoost.min}}" {{else}}
        value="{{item.system.attackBoost.min}} - {{item.system.attackBoost.max}}"
        {{/if}}
        {{/if}}
        readonly>
      </div>
      <div class="flex-group-center">
        <input class="item-choice" type="text" name="item.system.defenseBoost"
        {{#if item.system.defenseBoost.none}} value="--" {{else}}
        {{#if (comparison item.system.defenseBoost.min item.system.defenseBoost.max)}} value="{{item.system.defenseBoost.min}}" {{else}}
        value="{{item.system.defenseBoost.min}} - {{item.system.defenseBoost.max}}"
        {{/if}}
        {{/if}} readonly>
      </div>
      <div class="item-controls">
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}'
        >
        <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  
  {{! List all gupt kala, if any are present}}
  {{#if (arrayNotEmpty guptKala)}}
  <div class="items-list full-size">
    <div class="item flexrow items-header grid grid-6col">
      <div class="flex-group-center grid-span-5">Gupt Kala</div>
      <div class="flex-group-center"></div>
    </div>
    {{#each guptKala as | item id |}}
    <div class='item flexrow grid grid-6col grid-table' data-item-id='{{item._id}}'>
      <div class="item-name flex-group-center grid-span-5">
        <div class='item-image'>
          <img
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          />
        </div>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Item'}}'
        >
        <h4>{{item.name}}</h4>
        </a>
      </div>
      <div class="item-controls">
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<div class="items-list full-size">
  <div class="item flexrow items-header grid grid-21col">
    <div class="flex-group-center grid-span-8">Name</div>
    <div class="flex-group-center grid-span-6">Requirements</div>
    <div class="flex-group-center grid-span-2">Cost</div>
    <div class="flex-group-center grid-span-2">Facing</div>
    <div class="flex-group-center grid-span-2">Skill</div>
    <div class="flex-group-center"></div>
  </div>
  {{#each techniques.attack as |item id|}}
  <div class='item flexrow grid grid-21col grid-table' data-item-id='{{item._id}}'>
    <div class='item-name flex-group-center grid-span-8'>
      <div class='item-image'>
        <img
          src='{{item.img}}'
          title='{{item.name}}'
          width='24'
          height='24'
        />
      </div>
      <a
        class='item-control item-edit'
        title='{{localize "DOCUMENT.Update" type='Item'}}'
      >
      <h4>{{item.name}}</h4>
      </a>
    </div>
    <div class="item-requirements grid-span-6 flex-group-center">
      <input class="item-choice" type="text" name="item.system.techReqs" value="{{item.system.techReqs}}" readonly>
    </div>

    <div class="item-cost-facing grid-span-2 flex-group-center">
      <input class="item-choice" type="text" name="item.system.techCost" value="{{item.system.techCost}}" readonly>
    </div>
    <div class="item-cost-facing grid-span-2 flex-group-center">
      <input class="item-choice" type="text" name="item.system.techFacing" value="{{item.system.techFacing.min}} - {{item.system.techFacing.max}}" readonly>
    </div>

    <div class="item-skill flex-group-center grid-span-2">
      <input class="item-choice" type="text" name="item.system.techSkill" value="{{item.system.techSkill}}" readonly>
    </div>
    <div class="item-controls">
      <a
        class='item-control item-delete'
        title='{{localize "DOCUMENT.Delete" type='Item'}}'
      >
        <i class='fas fa-trash'></i>
      </a>
    </div>
  
  </div>
  {{/each}}

</div>
