<form>
    <h3>Choose {{mastery.difference}} new {{#if (comparison mastery.difference 1)}}skill{{else}}skills{{/if}} to master.</h3>
    <div>
    {{#each mastery.missing}}
    <input type="checkbox" id="{{this._id}}" class="mastery" name="{{this.name}}" value="{{this.system.skill}}">
    <img src="{{this.img}}" width="24" height="24">
    <label for="{{this.name}}">{{this.name}}</label><br>
    {{/each}}
    </div>
</form>