<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Prana sidebar --}}
  <div class="sheet">
  {{!-- Main section of the sheet --}}
  <div class="body">
  <header class="sheet-top">
    <div class="sidebar flex-group-center">
      <img class="profile-img flex-group-center" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120"/>
      <div class="resources">
        <div id="degree" class="resource flex-group-center">
        <label for="system.degree.value" class="resource-label">Degree</label>
        <div class="stat-input">
          <input type="text" name="system.degree.value" value="{{system.degree.value}}" data-dtype="String"/>
        </div>
        </div>
        <div class="grid grid-2col">
        <div id="effort" class="resource flex-group-center">
        <label for="system.power.value" class="resource-label">Effort</label>
        <div class="stat-input">
          <input type="text" name="system.power.value" value="{{system.power.value}}" data-dtype="Number" readonly/>
        </div>
        </div>

        <div id="effortless" class="resource flex-group-center">
        <label for="system.effortless.value" class="resource-label font-small">Effortless</label>
        <div class="stat-input">
          <input type="text" name="effortless" value="Rank {{system.effortless.value}}" data-dtype="String" readonly/>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="header-fields">
      <div class="title grid grid-8col">
      <h1 id="name" class="charname grid-span-5"><input name="actor.name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <h1 id="clanName" class="charname grid-span-3"><input name="system.clan" type="text" value="{{system.clan}}" placeholder="Clan"></h1>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="flexrow">
        <div class="flex-5">
          <div class="damage resources grid grid-5col">

              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}
            <div id="health" class="resource flex-group-center grid-span-3">
              <label for="system.health.current" class="resource-label">Health</label>
              <div class="resource-content max-min flexrow flex-center flex-between">
              <input type="text" name="system.health.current" value="{{system.health.current}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.health.max" value="{{system.health.max}}" readonly  data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center grid-span-2">
              <label for="system.aura.current" class="resource-label">Aura</label>
              <div class="resource-content max-min flexrow flex-center flex-between">
              <input type="text" name="system.aura.current" value="{{system.aura.current}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.aura.max" value="{{system.aura.max}}" readonly  data-dtype="Number"/>
              </div>
            <div class="resource flex-group-center">
              <label for="system.armor" class="resource-label">Armor</label>
              <div class="resource-content max-min flexrow flex-center flex-between">
              <input type="text" name="system.armor" value="{{system.armor}}" data-dtype="Number"/>
              </div>
            </div>
            </div>

          </div>

          <div class="resources grid grid-9col grid-close">
          
            {{! display focus slots up to the value determined by level, hide all subsequent slots}}
            <label for="system.foci.value" class="resource-label grid-span-2">Focus Slots</label>
            {{#each system.foci.slots}}
              <div {{#unless (lessThan @index ../system.foci.value )}} hidden {{/unless}} class="resource flex-group-center">
                <input type="text" id="focus-{{@index}}" class="focusSlot" data-findex="{{@index}}" name="system.foci.slots.{{@index}}" value="{{this}}" data-dtype="Number">
              </div>
            {{/each}}
          </div>
        </div>
        <div class="flex-3">

          <div class="prana resources">
            <div class="resource flex-group-center">
              <label for="system.prana.current" class="resource-label">Prana</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input class="stat-input" type="text" name="system.prana.gen.slumbering" value="{{system.prana.gen.slumbering}}" data-dtype="Number" disabled/>
                <input type="text" name="system.prana.current" value="{{system.prana.current}}" data-dtype="Number"/>
                <input class="stat-input" type="text" name="system.prana.gen.flare" value="{{system.prana.gen.flare}}" data-dtype="Number" disabled/>
              </div>
            </div>
          </div>

          <div class="resource flex-group-center">
            <label for="system.chakras.active" class="resource-label">Active Chakras</label>
            <div class="active-chakras">
              <input type="number" class="small-box" name="system.chakras.active" value="{{system.chakras.active}}" data-dtype="Number"/>
              <img
                class="chakra-increase"
                src="systems/lone-wolf-fists/assets/arrup.png"
                title='Arrow up'
                width='10'
                height='10'
              />
              <img
                class="chakra-decrease"
                src="systems/lone-wolf-fists/assets/arrdown.png"
                title='Arrow down'
                width='10'
                height='10'
              />
            </div>
          </div>
        </div>
      </div>
      {{#if skill.missing}}
      <button type="submit" id="newMasteries" data-missing="{{skill.difference}}">Choose your masteries</button>
      {{/if}}
    </div>
  </header>
  {{! If the player does not have enough masteries, prompt them to add more}}


  {{! if no archetype has been chosen yet, prompt the player to choose one}}
  {{#if (comparison system.archetype "tbd")}}
  <section>
    <h1 class="flex-group-centre">Choose an archetype</h1>
  
  </section>
  {{else}}
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="core">Core</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="dharma">Dharma</a>
    <a class="item" data-tab="techniques">Techniques</a>
    {{! Hidden final tab where the GM can change around character options}}
    <a class="item" data-tab="config" {{#unless isGM}} hidden {{/unless}}>Config</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab core" data-group="primary" data-tab="core">
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-imbalances.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-items.hbs"}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab dharma" data-group="primary" data-tab="dharma">
       {{> "systems/lone-wolf-fists/templates/actor/parts/actor-dharma.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab techniques flexrow" data-group="primary" data-tab="techniques">
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-techniques.hbs"}}
    </div>
    <div class="tab config" data-group="primary" data-tab="config">
      {{> "systems/lone-wolf-fists/templates/actor/parts/actor-config.hbs"}}
    </div>

  </section>
  {{/if}}
  </div>
  <div class="sidebar">
  <ol class='items-list full-size'>
  {{#each skill.mastered as | skill |}}
  <li class='item flex-group-center' data-item-id="{{skill._id}}">
    <div class='item-image'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Item'}}'
        >
        <img
          class="mastery-image"
          src='{{skill.img}}'
          title='{{skill}}'
          width='40'
          height='40'
        />
      </a>
    </div>
    <h4 class="skill"><strong>{{skill.name}}</strong></h4>
  </li>
  {{/each}}
  {{#each skill.unmastered as | skill |}}
  <li class='item flex-group-center' data-item-id="{{skill._id}}">
    <div class='item-image'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Item'}}'
        >
        <img
          class="skill-image"
          src='{{skill.img}}'
          title='{{skill}}'
          width='40'
          height='40'
        />
      </a>
    </div>
    <h4 class="skill">{{skill.name}}</h4>
  </li>
  {{/each}}

</div> 
</div>

</form>
