<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if isGM}}
    <a class="item" data-tab="edit">1. Set core stats</a>
    <a class="item" data-tab="technique">2. Set technique</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>
    {{#if isGM}}
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="edit">
      <div class="resource">
        <label>Tier: </label>
        <select class="" name='system.tier' data-techstat="tier">
        {{#each artifactTier}}
        <option 
          {{#if (comparison ../system.tier this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
      <div class="resource">
        <label>Type: </label>
        <select class="" name='system.type' data-techstat="type">
        {{#each artifactType}}
        <option 
          {{#if (comparison ../system.type this)}} selected="selected" {{/if}} 
          value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>

      {{!-- Only show if weapon-type artifact --}}
      {{#if (comparison system.type "Weapon")}}
        <div class="indented-element">
          <div class='resource'>
            <label>{{#if system.unique}}Artifact Tag 1: {{else}}Artifact Tag: {{/if}}</label>
            <select name='system.tag1' data-techstat="tag1">
            {{#each artifactTags}}
            <option 
              {{#if (comparison ../system.tag1 this)}} selected="selected" {{/if}} 
              value="{{this}}">{{this}}</option>
            {{/each}}
            </select>
            <div>
              <label>Tag Effect: </label>
              <input type="text" class="very-large-box" name='system.tag1Effect' value="{{system.tag1Effect}}" data-dtype="String">
            </div>
          </div>
          <div class='resource flexrow flex-group-center'>
            <input type="checkbox" class="flex" name="system.unique"  {{#if system.unique}}checked{{/if}} value=true>
            <label class="rightside flex">Weapon has two tags</label>
          </div>
          {{#if system.unique}}
          <div class='resource indented-element'>
            <label>Artifact Tag 2: </label>
            <select class="" name='system.tag2' data-techstat="tag2">
            {{#each artifactTags}}
            <option 
              {{#if (comparison ../system.tag2 this)}} selected="selected" {{/if}} 
              value="{{this}}">{{this}}</option>
            {{/each}}
            </select>
            <div>
              <label>Tag Effect: </label>
              <input type="text" class="very-large-box" name='system.tag2Effect' value="{{system.tag2Effect}}" data-dtype="String">
            </div>
          </div>
          {{/if}}
          <div class='resource'>
            <label>Size:</label>
            <input type="text" class="inline-input small-box" name='system.size' value="{{system.size}}" data-dtype="Number">
          </div>
        </div>
      {{/if}}

        {{!-- Armor-type artifact --}}
      {{#if (comparison system.type "Armor")}}
        <div class="resource">
          <div class='resource'>
            <label>Armor rating:</label>
            <input id="armorValue" type="number" class="inline-input small-box" name='system.armorValue' value="{{system.armorValue}}" data-dtype="Number">
          </div>
        </div>
      {{/if}}

      {{!-- All artifacts --}}
      <div>
        <div class='resource flexrow flex-group-center'>
          <input type="checkbox" class="flex" name="system.chakra.hasChakra"  {{#if system.chakra.hasChakra}}checked{{/if}} value=true>
          <label class="rightside flex">Artifact has chakra</label>
        </div>
        <div class='resource flexrow flex-group-center'>
          <input type="checkbox" class="flex" name="system.soul.hasSoul"  {{#if system.soul.hasSoul}}checked{{/if}} value=true>
          <label class="rightside flex">Artifact has chakra</label>
        </div>
      </div>

    </div>

    {{!-- Attached Technique Tab --}}
    <div class="tab effects" data-group="primary" data-tab="technique">
      <div class='resource flexrow flex-group-center'>
        <input type="checkbox" class="flex" name="system.hasTechnique"  {{#if system.hasTechnique}}checked{{/if}} value=true>
        <label class="rightside flex">Artifact has attached technique</label>
      </div>
      {{#if system.hasTechnique}}

        <div class='resource'>
          <select class="item-choice" name='techType' data-techstat="techType">
          {{! Iterates over the list of technique types to produce a select menu.}} 
          {{! List can be edited at lone-wolf-fists\module\helpers\technique-config.mjs}}
          {{#each techType}}
          <option 
            {{! Makes sure that the default source shown is the one currently set on the imbalance}}
            {{#if (comparison ../system.techType this)}} selected="selected" {{/if}} 
            value="{{this}}">{{this}}</option>
          {{/each}}
          </select>
        </div>
        {{! Ranks added}}
        <div class='resource'>
          <label>Rank:</label>
          <input type="text" class="inline-input small-box" name='system.techRank' value="{{system.techRank}}" data-dtype="Number">
        </div>

        {{! Prana cost }}
        <div class='resource'>
          <label>Cost:</label>
          <input type="text" class="inline-input small-box" name='system.techCost' value="{{system.techCost}}" data-dtype="Number">
        </div>

      {{! Facings }}
        <div class='resource flexrow flex-group-center'>
          {{#unless system.techFacing.none}}
          <label class="flex flexshrink margin-3">Facing:</label>
          <input type="text" class="inline-input small-box flex flexshrink" name='system.techFacing.min' value="{{system.techFacing.min}}" data-dtype="Number">
          <span class="flex flexshrink margin-3">-</span>
          <input type="text" class="inline-input small-box flex flexshrink" name='system.techFacing.max' value="{{system.techFacing.max}}" data-dtype="Number">
          {{/unless}}
          <input type="checkbox" class="flex" name="system.techFacing.none"  {{#if system.techFacing.none}}checked{{/if}} value=true>
          <label class="rightside flex">No facings</label>
        </div>
      
        <div class="resource">
          <label>Keywords: </label>
          <input type="text" class="inline-input medium-box flex flexshrink" name="system.techTags" value="{{system.techTags}}" data-dtype="String">
        </div>
      {{! Description of the technique's effects}}
        <h2>Effect:</h2>
        <div class="tab" data-group="primary">
          {{! Editors must receive enriched text data from getData to properly handle rolls }}
          {{editor
            system.techEffect
            target='system.techEffect'
            engine='prosemirror'
            button=true
            editable=editable
          }}
        </div>

      {{/if}}
    </div>
    {{/if}}
  </section>

</form>
