<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
      <img
        id='ability-image'
        src='{{item.img}}'
        data-edit='img'
        height="90"
        width="90"
        title='{{item.name}}'
      />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          id="onslaught-name"
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
        <div class="flex flex-group-center">
        <i><h4 class="full-size flex-group-center">
        {{#if system.editMode}}
          <input type="radio" id="onslaught" name="system.calamityToggle" {{#unless system.calamityToggle}} checked {{/unless}} value=false data-techstat="calamityToggle">
          <label for="onslaught">Onslaught</label><br>
          <input type="radio" id="calamity" name="system.calamityToggle" {{#if system.calamityToggle}} checked {{/if}} value=true data-techstat="calamityToggle">
          <label for="calamity">Calamity</label><br>
        {{else}}
          {{#if system.calamityToggle}}
            Calamity
          {{else}}
            Onslaught
          {{/if}}
        {{/if}}
        </h4></i>
      </div> 
      <div class="flexrow">
          <div id="frequency" class="flex-column flex-group-center npc-sidebar">
            {{#if system.editMode}}
            <label for="frequency-input" class="resource-label">Frequency</label>
            <div id="frequency-input-container" class=" flex-group-center flexshrink">
              <input id="frequency-input" class="smallish-box font-size-20" type="text" name="system.frequency.number" value="{{system.frequency.number}}" data-dtype="Number">
              <span>/</span>
              <select name='system.frequency.interval' data-techstat="frequency.interval">
              {{#each duration}}
              <option 
                {{#if (comparison ../system.frequency.interval this)}}
                  selected="selected"
                {{/if}} 
                value="{{this}}">{{this}}
                </option>
              {{/each}}
              </select>
            </div>
            {{else}}
              <h4 id="frequency-input" class="font-size-20">{{system.frequency.number}}/{{system.frequency.interval}}</h4>
            {{/if}}
          </div>
      </div>
    </div>
  </header>
  <div class="full-size edit-container">
    {{#if system.editMode}}
    <i id="edit-mode" class="fa-solid fa-gear edit-mode-on">Play</i>
    {{else}}
    <i id="edit-mode" class="fa-solid fa-gear edit-mode-off">Edit</i>
    {{/if}}
  </div>
  

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>